.booking-modal {
    opacity: 0;
    display: none;

    flex-direction: column;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 999999999999;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 83rem;
    height: 100vh;
    border: 2px solid white;
    background-color: rgba(255, 255, 255);
    padding-right: 2px;
    color: var(--text-black);

    @media screen and (max-width: 800px) {
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        top: 50%;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        background-color: var(--blue1);
        color: white;
        align-items: center;

        h2 {
            font-size: var(--h3-size);
            text-transform: uppercase;
        }

        i {
            font-size: 2.5rem;
            color: rgba(255, 255, 255, 0.919);
            cursor: pointer;
            transition: all 0.2;
            top: 0.125em;
            position: relative;

            &:hover {
                color: white;
            }
        }
    }

    &__message {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 3rem;
        background-color: var(--blue2);

        h4 {
            font-size: 1.9rem;
            font-weight: 700;
            color: var(--blue1);

            i {
                font-size: 2.5rem;
                top: 0.125em;
                position: relative;
            }
        }

        p {
            font-size: 1.7rem;
            color: #777777;
            font-weight: 500;
            line-height: 1.6;
        }
    }
}