.faq-box {
    display: flex;
    flex-direction: column;
    color: var(--text-black);
    background-color: white;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);

    width: 80rem;
    cursor: pointer;

    @media screen and (max-width: 850px) {
        width: 100%;
    }

    &__question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%);
        padding: 1.8rem 4.5rem;
        transition: 0.15s ease;

        p {
            font-size: 1.8rem;
            font-weight: 500;
        }

        &__icon {
            font-size: 2rem;
        }
    }

    &__answer {
        font-size: var(--p-size);
        color: var(--text-gray);
        line-height: 1.7;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s ease;
        padding: 0 4.5rem;
    }
}

.active-answer {
    max-height: 20rem;
    padding: 2.8rem 4.5rem;
    transition: 0.4s ease;

    @media screen and (max-width: 550px) {
        max-height: 30rem;
    }

    @media screen and (max-width: 420px) {
        max-height: 55rem;
    }
}

.active-question {
    background-color: var(--blue1);
    color: white;
    box-shadow: 0 10px 15px 0 rgb(37 108 225 / 35%);
}