.personal-info {
    padding: 3rem 3rem;
    background-color: white;
    display: flex;
    flex-direction: column;

    h4 {
        font-size: 1.8rem;
        text-transform: uppercase;
        color: var(--blue1);
        margin-bottom: 2rem;
    }
}

.info-form {
    display: flex;
    flex-direction: column;

    &__checkbox {
        display: flex;
        gap: 1rem;
        align-items: center;
        font-size: var(--p-size);
        color: #565454;
        margin-top: 2rem;
        margin-bottom: 3rem;

        input {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &__1col {
        grid-template-columns: 1fr !important;
    }

    &__2col,
    &__1col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 1rem 0;

        @media screen and (max-width: 650px) {
            grid-template-columns: 1fr;
        }

        span {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            label {
                font-size: var(--p-size);
                font-weight: 500;
                color: #777777;

                b {
                    color: var(--blue1);
                }
            }

            input {
                padding: 14px 15px;
                background-color: #dbdbdb;
                color: #555;
                font-size: 1.5rem;
                font-weight: 500;
                outline: none;
                border: none;
            }
        }
    }
}

.reserve-button {
    background-color: #dbdbdb;
    margin: 0 -3rem;
    padding: 3rem;
    text-align: right;

    @media screen and (max-width: 650px) {
        text-align: center;
    }

    button {
        font-size: var(--h3-size);
        color: white;
        font-weight: 700;
        background-color: var(--blue1);
        border: none;
        padding: 1.2rem 2rem;
        cursor: pointer;

        &:disabled {
            cursor: auto;
            background-color: #777777;
            color: var(--text-black);
        }
    }
}